<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"ss-main ss-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group ss-main ss-page">
	<!-- wp:group {"className":"ss-page-shell","layout":{"type":"constrained"}} -->
	<div class="wp-block-group ss-page-shell">
		<!-- wp:post-title {"level":1,"className":"ss-page-title"} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
